{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
     {% if category %}
         {{category.description|truncatewords:155}}
     {% else %}
         Welcome to ShopZee Fashion Where You Can Search Your Beauty👠👕👚👗👜👛
     {% endif %}
{% endblock %}

{% block title %}
     {% if category %}
         {{category.name}} -ShopZee Fashion
     {% else %}
                   ShopZee Fashion
     {% endif %}
{% endblock %}

{% block content %}
{% if category %}
<div>
  <div class="row my_row_class">
      <div class="mx_auto">


      <p><a href="{% url 'shopzee:allprodcat' %}">Our Product Collection</a></p>
  </div>
       </div>
</div>
  {% endif %}
<div class="mx_auto">
   {% if category %}
       <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
</div>
<br>
<div>
      <h1 class="text-center my_title">{{category.name}}</h1>
      <p class="text-justify">{{category.description}}</p>
</div>
{% else %}
<div>
      <img class="my_image my_image_padding" src="{% static 'img/banner1.png' %}" alt="Explore Our Products" width="1510px" height="600px">
</div>
<br>
<div>
       <h1 class="text-center my_title">Our Exploring Collections</h1>
       <p class="text-justify">Buy products starting from Rs. 25 on ShopZee. Rs. 25 store is live now on ShopZee. Trusted Suppliers. Fast Delivery. Unbelievable Discounts. 15 Crore+ Listings. Types: Women's Fashion, Men's Fashion, Grocery, Home, Mobiles, Beauty, Electronics, Appliances.</p>
</div>
 {% endif %}
<div class="container">
  <div class="row mx_auto">
      {% for product in product.object_list %}
    <div class="my_bottom_margin col-9 col-sm-12 col-md-4  col-jg-4">
      <div class="card text-center " style="min-width:18rem;  margin-top:50px;">
          <a href="{{product.get_url}}"> <img class="card-image-top my_image" src="{{product.image.url}}" alt="{{product.name}}" width="300px" height="300px"></a>
        <div class="card-body ">
            <h4>{{product.name}}</h4>
             <p>{{product.price}}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
    <div class="mx_auto">
        {% if product.paginator.num_pages > 1 %}

       <hr>
        <div class="text-center">
          {% for pg in product.paginator.page_range %}
          <a href="?page={{pg}}"  class="btn btn-light btn-sm {% if product.number == pg %} active  {% endif %}">{{pg}}</a>
          {% endfor %}
        </div>
        {% endif %}
    </div>
    <br>
</div>
{% endblock %}